@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    min-height: 100vh;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px;
}

:root {
    --black: #000000;
    --white: #f8f8f2;
    --grey: #3e3d32;
    --red: #f92672;
    --yellow: #fd971f;
    --green: #a6e22e;
    --blue: #66d9ef;
    --purple: #ae81ff;
}

* {
    font-family: "Lexend";
}

::selection {
    background-color: var(--purple);
}

a.standalone {
    color: var(--purple);
    transition: 0.25s ease;
}

a:not(.standalone) {
    text-decoration: none;
}

a.standalone:visited {
    color: var(--grey);
}

.fill-space {
    flex-grow: 1;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.center-text {
    text-align: center;
}

.vflex {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    text-align: left;
    flex-direction: column;
    flex-wrap: nowrap;
}

.hflex {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card {
    background-color: var(--white);
    color: var(--black);
    padding: 2em 4em;
    border-radius: 18px;
}

input {
    outline: none !important;
    padding: 0.5em 1em;
    border: none;
    background-color: var(--white);
    box-shadow: 0px 1px 0px 0px var(--black);
    transition: 0.25s ease;
    font-size: 16px;
    margin-top: 8px;
}

input:focus {
    box-shadow: 0px 0px 0px 4px var(--black);
}

button {
    border-radius: 18px;
    background-color: var(--purple);
    border: none;
    outline: none !important;
    padding: 0.5em 1em;
    font-size: 16px;
    color: var(--black);
    transition: 0.25s ease;
    box-shadow: 0px 0px 0px 0px var(--black);
}

button:hover {
    box-shadow: 0px 0px 0px 4px var(--black);
}

button:active {
    background-color: var(--black);
    color: var(--white);
    transition: 0s ease;
    box-shadow: 0px 0px 0px 1px var(--black);
}

label {
    user-select: none;
}