<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wdth,wght@75..100,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kablammo:MORF@0..60&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/general.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-rounded {font-variation-settings: 'FILL' 0, 'GRAD' 0, 'opsz' 24; font-weight: 700; user-select: none;}
    </style>
    <script>
        
        if (localStorage.getItem("accounts") === null) {localStorage.setItem("accounts", `{}`)}
        if (sessionStorage.getItem("tasks") === null) {sessionStorage.setItem("tasks", `{}`)}
        if (sessionStorage.getItem("info") === null) {sessionStorage.setItem("info", `{"name": null,"lastname": null,"username": null,"email": null,"password": null,"category": []}`)}

        function Date_from_input(date_element, time_element) {
            let datestr = date_element.value;
            let timestr = time_element.value;
            let fullstr = `${datestr}T${timestr}`;
            return Date.parse(fullstr);
        }

        var session = {
            login: function(username, password) {
                if (this.is_username_used(username)) {
                    if (JSON.parse(localStorage.getItem("accounts"))[username].password === password) {
                        this.set_info(JSON.parse(localStorage.getItem("accounts"))[username]);
                        this.set_logged_in(true);
                        return 0
                    } else {
                        return 1
                    }
                } else {
                    return 2
                }
            }, 
            is_username_used: function(username) {
                return !(JSON.parse(localStorage.getItem("accounts"))[username] === undefined)
            },
            signin: function(name, lastname, username, email, password) {
                let accounts = JSON.parse(localStorage.getItem("accounts"));
                if (this.is_username_used(username)) {
                    return 1
                } else {
                    let new_user = {
                        username: username,
                        name: name,
                        lastname: lastname,
                        email: email,
                        password: password,
                        category: []
                    };
                    accounts[username] = new_user;
                    localStorage.setItem("accounts", JSON.stringify(accounts));
                    localStorage.setItem(`U_${username}`, "{}");
                    this.set_info(new_user);
                    this.set_logged_in(true);
                    return 0
                }
            },
            logout: function() {
                this.set_logged_in(false);
                this.set_info({
                    username: null,
                    name: null,
                    lastname: null,
                    email: null,
                    password: null,
                    category: []
                });
                this.set_tasks({});
            },
            clear: function() {
                this.logout();
            },
            get_info: function() {
                return JSON.parse(sessionStorage.getItem("info"));
            },
            set_info: function(info) {
                sessionStorage.setItem("info", JSON.stringify(info));
            },
            get_logged_in: function() {
                return sessionStorage.getItem("logged_in") === "true";
            },
            set_logged_in: function(logged_in) {
                sessionStorage.setItem("logged_in", logged_in);
            },
            get_tasks: function() {
                return JSON.parse(sessionStorage.getItem("tasks"));
            },
            set_tasks: function(tasks) {
                sessionStorage.setItem("tasks", JSON.stringify(tasks));
            },
            save_tasks: function() {
                if (this.get_logged_in()) {
                    localStorage.setItem(`U_${this.get_info().username}`, JSON.stringify(this.get_tasks()));
                }
            },
            load_tasks: function() {
                if (this.get_logged_in()) {
                    let from_user = JSON.parse(localStorage.getItem(`U_${this.get_info().username}`));
                    this.set_tasks({
                        ...this.get_tasks(),
                        ...from_user,
                    });
                }
            },
        }

        session.load_tasks();
    </script>
</head>
<body localisation="none" theme="0">
    <header></header>
    <main class="centerdiv" hx-trigger="load" hx-target="main" hx-swap="outerHTML" hx-get="html/home.html"></main>
    <footer>
        <button class="btn2 task-btn" hx-trigger="click" hx-target="main" hx-swap="outerHTML" hx-get="html/task.html">Task</button>
        <button class="btn2 home-btn" hx-trigger="click" hx-target="main" hx-swap="outerHTML" hx-get="html/home.html">Home</button>
        <button class="btn2 about-btn" hx-trigger="click" hx-target="main" hx-swap="outerHTML" hx-get="html/settings.html">Settings</button>
    </footer>
</body>
</html>